 /* * {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
   --color-primary: #F1CDB3;
   --color-primary-light: #FDDCC4;
   --color-dark-l: #545454;
   --color-light-l: #F6F6F6;
   --color-dark-s: #CDCDCD;
   --color-light-s: #FAFAFA;
   --color-dark-xl: #4C4C4C;
   --color-dark-3xl: #292929;
}
body {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    color: white;
}
h1, h2, h3, h4, h5 {
    font-family: 'Georgia', serif;
    font-weight: normal;
    line-height: 130%;
}
h2 {
    font-size: 44px;
    color: white;
    letter-spacing: normal; 
}
p {
    font-family: 'Arial', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-s);
    max-width: 100%;
}

ul {
    list-style: none;
}
a {
        text-decoration: none;
} 
 */